<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Provisioning</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OrdersListServlet</display-name>
    <servlet-name>OrdersListServlet</servlet-name>
    <servlet-class>OrdersListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersListServlet</servlet-name>
    <url-pattern>/OrdersListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample</display-name>
    <servlet-name>Sample</servlet-name>
    <servlet-class>Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SampleServlet</display-name>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProvisionReadyServlet</display-name>
    <servlet-name>ProvisionReadyServlet</servlet-name>
    <servlet-class>ProvisionReadyServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeviceServlet</display-name>
    <servlet-name>DeviceServlet</servlet-name>
    <servlet-class>verizon.DeviceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceServlet</servlet-name>
    <url-pattern>/DeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProvisionReadyServlet</servlet-name>
    <url-pattern>/ProvisionReadyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecisionServlet</display-name>
    <servlet-name>DecisionServlet</servlet-name>
    <servlet-class>DecisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecisionServlet</servlet-name>
    <url-pattern>/DecisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProvisionReady</display-name>
    <servlet-name>ProvisionReady</servlet-name>
    <servlet-class>ProvisionReady</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvisionReady</servlet-name>
    <url-pattern>/ProvisionReady</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProvisionReadyServlet</display-name>
    <servlet-name>ProvisionReadyServlet</servlet-name>
    <servlet-class>ProvisionReadyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvisionReadyServlet</servlet-name>
    <url-pattern>/ProvisionReadyServlet</url-pattern>
  </servlet-mapping>
</web-app>